In [2]:
# SETUP

#general imports
import numpy as np
import pandas as pd

#visualization imports
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

RND = 2020

In [347]:
patients_df = pd.read_csv("patients_db_v2.csv")

### Patient Data Table

In [348]:
patients_df.head()

,Unnamed: 0,pat_id,fac_id,dob,gender,long,lat,region,district
0,0,1,51.0,2019-01-22,f,NaN,NaN,Ghanzi,Ghanzi
1,1,2,89.0,2019-11-12,f,24.877556,-18.370709,Chobe,Chobe
2,2,3,161.0,2019-11-03,m,25.249672,-20.490189,Central,Tutume
3,3,4,168.0,2019-04-17,f,25.579269,-21.412151,Central,Lethlakane
4,4,5,183.0,2018-12-08,m,28.487746,-22.571451,Central,Tuli

In [349]:
# summary of data in table
patients_df.info()

# 50,000 rows, 9 columns
# lot of columns have missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
Unnamed: 0    50000 non-null int64
pat_id        50000 non-null int64
fac_id        47496 non-null float64
dob           50000 non-null object
gender        48998 non-null object
long          47464 non-null float64
lat           47464 non-null float64
region        48366 non-null object
district      48366 non-null object
dtypes: float64(3), int64(2), object(4)
memory usage: 3.4+ MB

In [350]:
# number of null values per column
patients_df.isnull().sum()

Unnamed: 0       0
pat_id           0
fac_id        2504
dob              0
gender        1002
long          2536
lat           2536
region        1634
district      1634
dtype: int64

In [351]:
# summary of statistics of table data
patients_df.describe(include = 'all')

,Unnamed: 0,pat_id,fac_id,dob,gender,long,lat,region,district
count,50000.000000,50000.000000,47496.000000,50000,48998,47464.000000,47464.000000,48366,48366
unique,NaN,NaN,NaN,730,2,NaN,NaN,15,24
top,NaN,NaN,NaN,2019-04-14,m,NaN,NaN,North-West,Ngamiland East
freq,NaN,NaN,NaN,95,24508,NaN,NaN,16597,14888
mean,24999.500000,25000.500000,173.138033,NaN,NaN,24.832407,-21.280005,NaN,NaN
std,14433.901067,14433.901067,99.776462,NaN,NaN,1.976524,2.271760,NaN,NaN
min,0.000000,1.000000,1.000000,NaN,NaN,20.216349,-26.328640,NaN,NaN
25%,12499.750000,12500.750000,87.000000,NaN,NaN,23.356419,-22.575735,NaN,NaN
50%,24999.500000,25000.500000,173.000000,NaN,NaN,24.784149,-20.287375,NaN,NaN
75%,37499.250000,37500.250000,260.000000,NaN,NaN,25.914824,-19.977738,NaN,NaN
max,49999.000000,50000.000000,345.000000,NaN,NaN,28.633995,-17.790980,NaN,NaN

In [352]:
# how much data do we lose if we drop rows with missing values?

pat_dropna= patients_df.dropna()
pat_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42772 entries, 1 to 49999
Data columns (total 9 columns):
Unnamed: 0    42772 non-null int64
pat_id        42772 non-null int64
fac_id        42772 non-null float64
dob           42772 non-null object
gender        42772 non-null object
long          42772 non-null float64
lat           42772 non-null float64
region        42772 non-null object
district      42772 non-null object
dtypes: float64(3), int64(2), object(4)
memory usage: 3.3+ MB

In [353]:
# we lose 14% of data if we drop rows with na - too much

1 - 42772/50000

0.14456000000000002

#### pat_id

In [354]:
patients_df['pat_id'].is_unique

True

In [355]:
#drop first column and set pat_id as index
patients_df = patients_df.drop(columns = ['Unnamed: 0']).set_index('pat_id')
patients_df.head()

        fac_id         dob gender       long        lat   region    district
pat_id
1         51.0  2019-01-22      f        NaN        NaN   Ghanzi      Ghanzi
2         89.0  2019-11-12      f  24.877556 -18.370709    Chobe       Chobe
3        161.0  2019-11-03      m  25.249672 -20.490189  Central      Tutume
4        168.0  2019-04-17      f  25.579269 -21.412151  Central  Lethlakane
5        183.0  2018-12-08      m  28.487746 -22.571451  Central        Tuli

#### dob

In [356]:
# convert string objects to datetime so we can do operations with dates later

patients_df['dob'] = pd.to_datetime(patients_df['dob'], format='%Y-%m-%d')
patients_df['dob'].describe()

count                   50000
unique                    730
top       2019-04-14 00:00:00
freq                       95
first     2018-01-01 00:00:00
last      2019-12-31 00:00:00
Name: dob, dtype: object

In [357]:
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1 to 50000
Data columns (total 7 columns):
fac_id      47496 non-null float64
dob         50000 non-null datetime64[ns]
gender      48998 non-null object
long        47464 non-null float64
lat         47464 non-null float64
region      48366 non-null object
district    48366 non-null object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 3.1+ MB

#### gender

In [358]:
patients_df['gender'].value_counts(dropna=False)/50000

# label as percentage of the data 
# ignoring the null values, m and f are all consistent throughout

m      0.49016
f      0.48980
NaN    0.02004
Name: gender, dtype: float64

In [359]:
# fill in null values with 'x' for now to inidicate unknown gender

patients_df['gender'] = patients_df['gender'].fillna("x")
patients_df['gender'].value_counts()
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1 to 50000
Data columns (total 7 columns):
fac_id      47496 non-null float64
dob         50000 non-null datetime64[ns]
gender      50000 non-null object
long        47464 non-null float64
lat         47464 non-null float64
region      48366 non-null object
district    48366 non-null object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 3.1+ MB

#### fac_id

In [360]:
# number of unique ids
patients_df['fac_id'].nunique()

345

In [361]:
patients_df[patients_df['fac_id'].isnull()].head()

,fac_id,dob,gender,long,lat,region,district
pat_id,,,,,,,
20,NaN,2019-01-22,m,25.348931,-20.458435,Central,Tutume
39,NaN,2018-07-29,m,23.356027,-20.074762,North-West,Ngamiland East
63,NaN,2019-04-19,m,27.835947,-21.969402,Selibe Phikwe,Selibe Phikwe
68,NaN,2018-01-25,m,28.491494,-22.572947,Central,Tuli
75,NaN,2019-12-31,m,23.355148,-20.075141,North-West,Ngamiland East

In [362]:
# for the base model just fill in the missing fac_ids with 'unkown_fac'

patients_df['fac_id'] = patients_df['fac_id'].fillna("unkown_fac")
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1 to 50000
Data columns (total 7 columns):
fac_id      50000 non-null object
dob         50000 non-null datetime64[ns]
gender      50000 non-null object
long        47464 non-null float64
lat         47464 non-null float64
region      48366 non-null object
district    48366 non-null object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 3.1+ MB

#### lat and long

In [363]:
patients_df['lat'].nunique()

345

In [364]:
patients_df['lat'].describe()

count    47464.000000
mean       -21.280005
std          2.271760
min        -26.328640
25%        -22.575735
50%        -20.287375
75%        -19.977738
max        -17.790980
Name: lat, dtype: float64

In [365]:
patients_df['long'].nunique()

345

In [366]:
patients_df['long'].describe()

count    47464.000000
mean        24.832407
std          1.976524
min         20.216349
25%         23.356419
50%         24.784149
75%         25.914824
max         28.633995
Name: long, dtype: float64

In [367]:
# instead of filling the missing entries, I'm going to drop the lat/long columns for the base model predict
# the fac_id includes similar info to lat/long and should be sufficient for the base model

patients_df = patients_df.drop(columns = ['lat', 'long'])
patients_df.head()

       fac_id        dob gender   region    district
pat_id
1          51 2019-01-22      f   Ghanzi      Ghanzi
2          89 2019-11-12      f    Chobe       Chobe
3         161 2019-11-03      m  Central      Tutume
4         168 2019-04-17      f  Central  Lethlakane
5         183 2018-12-08      m  Central        Tuli

In [368]:
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1 to 50000
Data columns (total 5 columns):
fac_id      50000 non-null object
dob         50000 non-null datetime64[ns]
gender      50000 non-null object
region      48366 non-null object
district    48366 non-null object
dtypes: datetime64[ns](1), object(4)
memory usage: 2.3+ MB

#### district and region

In [369]:
patients_df['district'].nunique()

24

In [370]:
patients_df['region'].nunique()

15

In [371]:
# fill in missing values with unkown marker 

patients_df['district'] = patients_df['district'].fillna("unkown_dis")
patients_df['region'] = patients_df['region'].fillna("unkown_reg")

In [372]:
patients_df['district'].value_counts(dropna=False)

Ngamiland East     14888
Gaborone            5051
Chobe               4856
Tuli                4261
Tutume              4042
Ghanzi              2145
Gemsbok             2114
Ngamiland West      1709
South East          1651
Francistown         1637
unkown_dis          1634
Serowe              1518
Selibe Phikwe        682
Masungu              564
Kweneng South        559
Lobatse              452
Mahalapye            440
Tshabong             305
Bobonong             305
Hukunsti             295
Ngwaketse North      291
Jwaneng              157
Lethlakane           151
Kgatleng             150
Palapye              143
Name: district, dtype: int64

In [373]:
patients_df['region'].value_counts(dropna=False)

North-West       16597
Central          10860
Gaborone          5051
Chobe             4856
Kgalagadi         2714
Ghanzi            2145
South-East        1651
Francistown       1637
unkown_reg        1634
Selibe Phikwe      682
North-East         564
Kweneng            559
Lobatse            452
Southern           291
Jwaneng            157
Kgatleng           150
Name: region, dtype: int64

In [374]:
patients_df.info()

#missing entries all filled

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 1 to 50000
Data columns (total 5 columns):
fac_id      50000 non-null object
dob         50000 non-null datetime64[ns]
gender      50000 non-null object
region      50000 non-null object
district    50000 non-null object
dtypes: datetime64[ns](1), object(4)
memory usage: 2.3+ MB

### Immunizations Data Table

In [375]:
immun_df = pd.read_csv("immunization_db_v2.csv")

In [376]:
immun_df.describe(include= 'all')

,Unnamed: 0,pat_id,vaccine,im_date,successful,reason_unsuccesful
count,276764.000000,276764.000000,276764,276764,276764,2899
unique,NaN,NaN,2,730,2,4
top,NaN,NaN,OPV,2018-12-14,True,StartedLate
freq,NaN,NaN,160792,522,273865,773
mean,152079.690867,25008.937206,NaN,NaN,NaN,NaN
std,88232.458771,14443.508649,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,NaN,NaN,NaN
25%,75363.750000,12492.750000,NaN,NaN,NaN,NaN
50%,151876.500000,25011.000000,NaN,NaN,NaN,NaN
75%,228391.250000,37511.000000,NaN,NaN,NaN,NaN
max,305578.000000,50000.000000,NaN,NaN,NaN,NaN

In [377]:
immun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276764 entries, 0 to 276763
Data columns (total 6 columns):
Unnamed: 0            276764 non-null int64
pat_id                276764 non-null int64
vaccine               276764 non-null object
im_date               276764 non-null object
successful            276764 non-null bool
reason_unsuccesful    2899 non-null object
dtypes: bool(1), int64(2), object(3)
memory usage: 10.8+ MB

In [378]:
#drop first column
immun_df = immun_df.drop(columns = ['Unnamed: 0'])
immun_df.head()

   pat_id vaccine     im_date  successful reason_unsuccesful
0       1     OPV  2019-01-31        True                NaN
1       2     OPV  2019-11-12        True                NaN
2       3     OPV  2019-11-03        True                NaN
3       4     OPV  2019-06-01        True                NaN
4       5     OPV  2018-12-24        True                NaN

In [379]:
immun_df.isnull().sum()

#only missing entries in one column

pat_id                     0
vaccine                    0
im_date                    0
successful                 0
reason_unsuccesful    273865
dtype: int64

In [380]:
immun_df['reason_unsuccesful'].value_counts()

StartedLate              773
Expired                  753
OutOfStock               691
ProfessionalJudgement    682
Name: reason_unsuccesful, dtype: int64

In [381]:
# is 'reason_unsuccesful' null for all cases when succ is True?
immun_df[immun_df['successful'] == False].count()

# when not successful there are 2899 non null values in reason column (which is all the non null values there are) 
# therefore reason column is only null when succ is True

pat_id                2899
vaccine               2899
im_date               2899
successful            2899
reason_unsuccesful    2899
dtype: int64

In [382]:
# fill missing values for 'reason_unsuccesful'
immun_df['reason_unsuccesful'] = immun_df['reason_unsuccesful'].fillna("NA")
immun_df['reason_unsuccesful'].value_counts()

NA                       273865
StartedLate                 773
Expired                     753
OutOfStock                  691
ProfessionalJudgement       682
Name: reason_unsuccesful, dtype: int64

In [383]:
immun_df['vaccine'].value_counts()

OPV    160792
DTP    115972
Name: vaccine, dtype: int64

In [384]:
immun_df['successful'].value_counts()

True     273865
False      2899
Name: successful, dtype: int64

In [385]:
# convert the date to a date object
immun_df['im_date']=pd.to_datetime(immun_df['im_date'], format='%Y-%m-%d')
immun_df['im_date'].describe()

count                  276764
unique                    730
top       2018-12-14 00:00:00
freq                      522
first     2018-01-01 00:00:00
last      2019-12-31 00:00:00
Name: im_date, dtype: object

In [386]:
immun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276764 entries, 0 to 276763
Data columns (total 5 columns):
pat_id                276764 non-null int64
vaccine               276764 non-null object
im_date               276764 non-null datetime64[ns]
successful            276764 non-null bool
reason_unsuccesful    276764 non-null object
dtypes: bool(1), datetime64[ns](1), int64(1), object(2)
memory usage: 8.7+ MB

In [43]:
# how many records per pat_id?
immun_df.pat_id.value_counts()

42603    7
17562    7
40065    7
35971    7
46212    7
32823    7
36917    7
38964    7
15509    7
9366     7
18478    7
23705    7
29852    7
14624    7
25758    7
27807    7
38272    7
34178    7
36227    7
44423    7
7569     7
26666    7
28713    7
9622     7
27551    7
31645    7
24875    7
33666    7
49802    7
6801     7
        ..
16744    1
12506    1
33723    1
30165    1
26643    1
16154    1
21845    1
47037    1
43866    1
6057     1
32676    1
7516     1
42687    1
3802     1
1755     1
24594    1
40904    1
23712    1
34235    1
2079     1
21921    1
36026    1
24833    1
18007    1
41160    1
47919    1
35021    1
39119    1
26899    1
39849    1
Name: pat_id, Length: 48843, dtype: int64

In [44]:
# see how many unsuccesful vaccinations by patient id
immun_df.loc[immun_df['successful']==False].pat_id.value_counts()

24583    2
48015    2
37529    2
43670    2
35476    2
35474    2
37311    2
31372    2
23178    2
29606    2
645      2
2688     2
23465    2
17330    2
8581     2
21432    2
31336    2
37479    2
16997    2
41571    2
27232    2
14942    2
49757    2
39514    2
35775    2
37778    2
12971    2
48075    2
9102     2
9917     2
        ..
8693     1
4519     1
14758    1
419      1
32712    1
6510     1
12655    1
6512     1
17750    1
45427    1
2420     1
21729    1
27002    1
29051    1
27006    1
10381    1
37253    1
49569    1
24272    1
37255    1
31116    1
24973    1
39310    1
45035    1
2452     1
48909    1
46169    1
20893    1
2464     1
45058    1
Name: pat_id, Length: 2226, dtype: int64

In [387]:
# check if duplicate records

immun_df[immun_df.duplicated()]

        pat_id vaccine    im_date  successful reason_unsuccesful
210740   10683     DTP 2018-07-04        True                 NA

In [388]:
immun_df = immun_df.drop(index=210740, axis = 0 )
immun_df[immun_df.duplicated()]

Empty DataFrame
Columns: [pat_id, vaccine, im_date, successful, reason_unsuccesful]
Index: []

In [389]:
immun_df.loc[immun_df['pat_id']==10683]

        pat_id vaccine    im_date  successful reason_unsuccesful
9599     10683     OPV 2018-03-16        True                 NA
54020    10683     OPV 2018-06-05        True                 NA
132973   10683     OPV 2018-08-02        True                 NA
169694   10683     DTP 2018-07-04        True                 NA
248852   10683     DTP 2018-07-23        True                 NA

In [390]:
# drop the patients who had unsuccesful vaccinations due to 'Profesional Judgement'

immun_df['reason_unsuccesful'].value_counts()

NA                       273864
StartedLate                 773
Expired                     753
OutOfStock                  691
ProfessionalJudgement       682
Name: reason_unsuccesful, dtype: int64

In [391]:
# patient ids to remove from immun table

drop_pats = immun_df[immun_df['reason_unsuccesful'] == 'ProfessionalJudgement'].groupby('pat_id').size().to_frame()
drop_pats.head()

        0
pat_id
178     1
192     1
323     1
528     1
558     1

In [392]:
drop_pats = drop_pats.reset_index()
drop_pats.head(2)

   pat_id  0
0     178  1
1     192  1

In [393]:
#immune table without patients who had unsuccesful vaccinations due to 'Profesional Judgement'

immun_df = immun_df[~immun_df.pat_id.isin(drop_pats.pat_id)]
immun_df.reason_unsuccesful.value_counts()

NA             271401
StartedLate       693
Expired           670
OutOfStock        610
Name: reason_unsuccesful, dtype: int64

#### combined table with patients and immunization info

In [394]:
combin_df = immun_df.merge(patients_df, on= 'pat_id')
combin_df.head(5)

# x is immmun df
# y is patients df

,pat_id,vaccine,im_date,successful,reason_unsuccesful,fac_id,dob,gender,region,district
0,1,OPV,2019-01-31,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi
1,1,OPV,2019-04-03,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi
2,1,OPV,2019-05-25,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi
3,1,OPV,2019-07-06,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi
4,1,DTP,2019-04-03,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi

In [395]:
combin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273374 entries, 0 to 273373
Data columns (total 10 columns):
pat_id                273374 non-null int64
vaccine               273374 non-null object
im_date               273374 non-null datetime64[ns]
successful            273374 non-null bool
reason_unsuccesful    273374 non-null object
fac_id                273374 non-null object
dob                   273374 non-null datetime64[ns]
gender                273374 non-null object
region                273374 non-null object
district              273374 non-null object
dtypes: bool(1), datetime64[ns](2), int64(1), object(6)
memory usage: 21.1+ MB

In [396]:
# create an extra column - days_aftr_dob
combin_df['days_aftr_dob'] = (combin_df.im_date - combin_df.dob).dt.days

In [397]:
combin_df.head(2)

,pat_id,vaccine,im_date,successful,reason_unsuccesful,fac_id,dob,gender,region,district,days_aftr_dob
0,1,OPV,2019-01-31,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi,9
1,1,OPV,2019-04-03,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi,71

In [398]:
#sample a random patient

combin_df.loc[combin_df['pat_id']==10683]

,pat_id,vaccine,im_date,successful,reason_unsuccesful,fac_id,dob,gender,region,district,days_aftr_dob
54550,10683,OPV,2018-03-16,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,0
54551,10683,OPV,2018-06-05,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,81
54552,10683,OPV,2018-08-02,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,139
54553,10683,DTP,2018-07-04,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,110
54554,10683,DTP,2018-07-23,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,129

##### create target label y

In [399]:
# y is True if patient would need intervention at 4 months, otherwise False

# count the pat id
# check is success all True
# check if days all less than 184

#create df for ALL records where vaccine was given before 6 mo of age
# longest amount of days in 6 consecutive months is 184 days
temp_days_df = combin_df.loc[combin_df['days_aftr_dob']<=184]
temp_df = temp_days_df.loc[temp_days_df['successful']]    

temp_df.loc[temp_df.pat_id == 10683]

,pat_id,vaccine,im_date,successful,reason_unsuccesful,fac_id,dob,gender,region,district,days_aftr_dob
54550,10683,OPV,2018-03-16,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,0
54551,10683,OPV,2018-06-05,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,81
54552,10683,OPV,2018-08-02,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,139
54553,10683,DTP,2018-07-04,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,110
54554,10683,DTP,2018-07-23,True,NA,277,2018-03-16,m,unkown_reg,unkown_dis,129

In [400]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258630 entries, 0 to 273372
Data columns (total 11 columns):
pat_id                258630 non-null int64
vaccine               258630 non-null object
im_date               258630 non-null datetime64[ns]
successful            258630 non-null bool
reason_unsuccesful    258630 non-null object
fac_id                258630 non-null object
dob                   258630 non-null datetime64[ns]
gender                258630 non-null object
region                258630 non-null object
district              258630 non-null object
days_aftr_dob         258630 non-null int64
dtypes: bool(1), datetime64[ns](2), int64(2), object(6)
memory usage: 22.0+ MB

In [401]:
temp_df.loc[temp_df['days_aftr_dob'] >184]
temp_df.loc[temp_df['successful'] == False]

Empty DataFrame
Columns: [pat_id, vaccine, im_date, successful, reason_unsuccesful, fac_id, dob, gender, region, district, days_aftr_dob]
Index: []

In [402]:
rec_counts_df = temp_df['pat_id'].value_counts()
rec_counts_df = rec_counts_df.to_frame()
rec_counts_df.info() # df that contains patients ids and count of records avail

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48187 entries, 12956 to 7568
Data columns (total 1 columns):
pat_id    48187 non-null int64
dtypes: int64(1)
memory usage: 752.9 KB

In [403]:
rec_counts_df = rec_counts_df.reset_index()
rec_counts_df = rec_counts_df.rename(columns={"pat_id": "count", "index": "pat_id"})

In [404]:
rec_counts_df.head()

   pat_id  count
0   12956      7
1   47351      7
2    2082      7
3   28615      7
4    6176      7

In [405]:
patients_done_df = rec_counts_df.loc[rec_counts_df['count']==7]
patients_done_df.pat_id.nunique()
#the pat ids which have completed all their immunization successfully within 6 months

17102

In [406]:
patients_done_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17102 entries, 0 to 17101
Data columns (total 2 columns):
pat_id    17102 non-null int64
count     17102 non-null int64
dtypes: int64(2)
memory usage: 400.8 KB

In [407]:
patients_done_df.insert(2, "Y", [False]*17102, True) 
patients_done_df.head()

   pat_id  count      Y
0   12956      7  False
1   47351      7  False
2    2082      7  False
3   28615      7  False
4    6176      7  False

#### combined table with patients and immunization info and target var Y

In [408]:
combin_df_y = pd.merge(right = patients_done_df, left = combin_df, how = "left", left_on = 'pat_id', right_on = 'pat_id')
# x is left
# y is right
combin_df_y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273374 entries, 0 to 273373
Data columns (total 13 columns):
pat_id                273374 non-null int64
vaccine               273374 non-null object
im_date               273374 non-null datetime64[ns]
successful            273374 non-null bool
reason_unsuccesful    273374 non-null object
fac_id                273374 non-null object
dob                   273374 non-null datetime64[ns]
gender                273374 non-null object
region                273374 non-null object
district              273374 non-null object
days_aftr_dob         273374 non-null int64
count                 119714 non-null float64
Y                     119714 non-null object
dtypes: bool(1), datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 27.4+ MB

In [409]:
combin_df_y[combin_df_y['Y'].isnull()].groupby('pat_id').size()

pat_id
2        1
3        3
4        7
5        6
8        3
10       6
11       7
12       6
13       3
14       5
15       5
16       3
17       5
19       7
20       7
21       7
23       7
24       3
25       7
27       5
29       6
30       5
31       6
32       7
33       6
34       6
35       1
36       6
37       1
41       6
        ..
49948    6
49951    5
49952    7
49953    6
49954    1
49957    4
49958    5
49959    6
49960    6
49964    3
49965    6
49967    1
49970    7
49971    1
49973    1
49974    6
49977    6
49980    6
49982    6
49984    1
49985    1
49986    6
49989    7
49990    5
49992    6
49993    6
49994    1
49995    6
49996    5
49997    6
Length: 31096, dtype: int64

In [410]:
combin_df_y[combin_df_y['pat_id'] == 11]

,pat_id,vaccine,im_date,successful,reason_unsuccesful,fac_id,dob,gender,region,district,days_aftr_dob,count,Y
54,11,OPV,2019-03-28,True,NA,118,2019-02-21,m,Kgalagadi,Tshabong,35,NaN,NaN
55,11,OPV,2019-06-08,True,NA,118,2019-02-21,m,Kgalagadi,Tshabong,107,NaN,NaN
56,11,OPV,2019-07-28,True,NA,118,2019-02-21,m,Kgalagadi,Tshabong,157,NaN,NaN
57,11,OPV,2019-09-10,True,NA,118,2019-02-21,m,Kgalagadi,Tshabong,201,NaN,NaN
58,11,DTP,2019-06-08,True,NA,118,2019-02-21,m,Kgalagadi,Tshabong,107,NaN,NaN
59,11,DTP,2019-07-28,True,NA,118,2019-02-21,m,Kgalagadi,Tshabong,157,NaN,NaN
60,11,DTP,2019-09-10,True,NA,118,2019-02-21,m,Kgalagadi,Tshabong,201,NaN,NaN

In [411]:
# drop the count column and fill null values in Y with True

combin_df_y = combin_df_y.drop(columns = ['count'])
combin_df_y['Y'] = combin_df_y['Y'].fillna(True)
combin_df_y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273374 entries, 0 to 273373
Data columns (total 12 columns):
pat_id                273374 non-null int64
vaccine               273374 non-null object
im_date               273374 non-null datetime64[ns]
successful            273374 non-null bool
reason_unsuccesful    273374 non-null object
fac_id                273374 non-null object
dob                   273374 non-null datetime64[ns]
gender                273374 non-null object
region                273374 non-null object
district              273374 non-null object
days_aftr_dob         273374 non-null int64
Y                     273374 non-null bool
dtypes: bool(2), datetime64[ns](2), int64(2), object(6)
memory usage: 23.5+ MB

In [412]:
combin_df_y.nunique()

pat_id                48198
vaccine                   2
im_date                 730
successful                2
reason_unsuccesful        4
fac_id                  346
dob                     729
gender                    3
region                   16
district                 25
days_aftr_dob           424
Y                         2
dtype: int64

##### create a subset of the available for use in training

In [413]:
# we can only use data upto 4 months for training the model

In [457]:
# longest amount of days in 4 consecutive months is july - oct == 123 days
training_data = combin_df_y[combin_df_y['days_aftr_dob'] <= 123 ]

In [458]:
training_data.head()

,pat_id,vaccine,im_date,successful,reason_unsuccesful,fac_id,dob,gender,region,district,days_aftr_dob,Y
0,1,OPV,2019-01-31,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi,9,False
1,1,OPV,2019-04-03,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi,71,False
2,1,OPV,2019-05-25,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi,123,False
4,1,DTP,2019-04-03,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi,71,False
5,1,DTP,2019-05-25,True,NA,51,2019-01-22,f,Ghanzi,Ghanzi,123,False

In [459]:
training_data.describe(include = 'all')

,pat_id,vaccine,im_date,successful,reason_unsuccesful,fac_id,dob,gender,region,district,days_aftr_dob,Y
count,210255.000000,210255,210255,210255,210255,210255,210255,210255,210255,210255,210255.000000,210255
unique,NaN,2,730,2,4,346,729,3,16,25,NaN,2
top,NaN,OPV,2018-12-14 00:00:00,True,NA,unkown_fac,2019-04-14 00:00:00,m,North-West,Ngamiland East,NaN,True
freq,NaN,126863,394,208865,208865,10428,428,103070,71160,64035,NaN,112755
first,NaN,NaN,2018-01-01 00:00:00,NaN,NaN,NaN,2018-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2019-12-31 00:00:00,NaN,NaN,NaN,2019-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN
mean,25012.762417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.362308,NaN
std,14442.089198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.473037,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,12500.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN
50%,24981.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.000000,NaN
75%,37504.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.000000,NaN
max,50000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.000000,NaN

In [460]:
# for the purpose of training a simple baseline, will drop dob, reason_unsuccesful, im_date
# drop days_aftr_dob too for now

training_data = training_data.drop(columns = ['im_date', 'reason_unsuccesful', 'dob', 'days_aftr_dob'])
training_data.head()

   pat_id vaccine  successful fac_id gender  region district      Y
0       1     OPV        True     51      f  Ghanzi   Ghanzi  False
1       1     OPV        True     51      f  Ghanzi   Ghanzi  False
2       1     OPV        True     51      f  Ghanzi   Ghanzi  False
4       1     DTP        True     51      f  Ghanzi   Ghanzi  False
5       1     DTP        True     51      f  Ghanzi   Ghanzi  False

In [461]:
training_data[training_data.pat_id == 2]

   pat_id vaccine  successful fac_id gender region district     Y
7       2     OPV        True     89      f  Chobe    Chobe  True

In [462]:
# num of opv
# num of dtp

In [463]:
dtp = training_data.groupby(['pat_id','vaccine']).size().reset_index().rename(columns={0: "n-dtp"})
dtp = dtp[dtp.vaccine == 'DTP']
dtp = dtp.drop(columns = ['vaccine'])
dtp.head()

   pat_id  n-dtp
0       1      2
3       3      1
5       4      1
7       5      2
9       6      3

In [464]:
opv = training_data.groupby(['pat_id','vaccine']).size().reset_index().rename(columns={0: "n-opv"})
opv = opv[opv.vaccine == 'OPV']
opv = opv.drop(columns = ['vaccine'])
opv.head()

   pat_id  n-opv
1       1      3
2       2      1
4       3      2
6       4      1
8       5      3

In [465]:
training_data = training_data.drop(columns = ['vaccine', 'successful'])
training_data = training_data.drop_duplicates()

In [466]:
training_data.head()

    pat_id fac_id gender   region    district      Y
0        1     51      f   Ghanzi      Ghanzi  False
7        2     89      f    Chobe       Chobe   True
8        3    161      m  Central      Tutume   True
11       4    168      f  Central  Lethlakane   True
18       5    183      m  Central        Tuli   True

In [467]:
training_data = pd.merge(right = opv, left = training_data, how = "left", left_on = 'pat_id', right_on = 'pat_id')
training_data = pd.merge(right = dtp, left = training_data, how = "left", left_on = 'pat_id', right_on = 'pat_id')

In [468]:
training_data.head()

   pat_id fac_id gender   region    district      Y  n-opv  n-dtp
0       1     51      f   Ghanzi      Ghanzi  False    3.0    2.0
1       2     89      f    Chobe       Chobe   True    1.0    NaN
2       3    161      m  Central      Tutume   True    2.0    1.0
3       4    168      f  Central  Lethlakane   True    1.0    1.0
4       5    183      m  Central        Tuli   True    3.0    2.0

In [469]:
training_data['n-opv'] = training_data['n-opv'].fillna(0)
training_data['n-dtp'] = training_data['n-dtp'].fillna(0)

training_data.head(10)

   pat_id fac_id gender      region        district      Y  n-opv  n-dtp
0       1     51      f      Ghanzi          Ghanzi  False    3.0    2.0
1       2     89      f       Chobe           Chobe   True    1.0    0.0
2       3    161      m     Central          Tutume   True    2.0    1.0
3       4    168      f     Central      Lethlakane   True    1.0    1.0
4       5    183      m     Central            Tuli   True    3.0    2.0
5       6    142      f     Central          Tutume  False    4.0    3.0
6       7    287      f  North-West  Ngamiland East  False    4.0    3.0
7       8     88      f  unkown_reg      unkown_dis   True    1.0    2.0
8       9    280      m     Kweneng   Kweneng South  False    3.0    2.0
9      10    289      f  North-West  Ngamiland East   True    3.0    3.0

In [470]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48133 entries, 0 to 48132
Data columns (total 8 columns):
pat_id      48133 non-null int64
fac_id      48133 non-null object
gender      48133 non-null object
region      48133 non-null object
district    48133 non-null object
Y           48133 non-null bool
n-opv       48133 non-null float64
n-dtp       48133 non-null float64
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 3.0+ MB

### Baseline Model

In [471]:
# as a baseline score lets predict to highed occuring class as prediction for all

# how many patients need intervention vs dont?
training_data.Y.value_counts()

True     31031
False    17102
Name: Y, dtype: int64

In [429]:
# baseline accuracy - if the model predicted everyone needs intervention:
31031/(31031+17102) * 100

64.46928302827581

In [472]:
training_data.describe(include = 'all')

,pat_id,fac_id,gender,region,district,Y,n-opv,n-dtp
count,48133.000000,48133,48133,48133,48133,48133,48133.000000,48133.000000
unique,NaN,346,3,16,25,2,NaN,NaN
top,NaN,unkown_fac,m,North-West,Ngamiland East,True,NaN,NaN
freq,NaN,2415,23626,16115,14478,31031,NaN,NaN
mean,25005.948414,NaN,NaN,NaN,NaN,NaN,2.635676,1.732533
std,14437.375252,NaN,NaN,NaN,NaN,NaN,0.969548,0.944203
min,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,12508.000000,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000
50%,25001.000000,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000
75%,37508.000000,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000
max,50000.000000,NaN,NaN,NaN,NaN,NaN,4.000000,3.000000

In [487]:
# convert categorical variables to one-hot-encoded

# Categorical boolean mask
categorical_feature_mask = training_data.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = training_data.columns[categorical_feature_mask].tolist()

categorical_cols

['fac_id', 'gender', 'region', 'district']

In [476]:
categorical_feature_mask

pat_id      False
fac_id       True
gender       True
region       True
district     True
n-opv       False
n-dtp       False
dtype: bool

In [488]:
# generate binary values using get_dummies
training_data = pd.get_dummies(training_data, columns=categorical_cols)
training_data.head()

,pat_id,Y,n-opv,n-dtp,fac_id_1.0,fac_id_2.0,fac_id_3.0,fac_id_4.0,fac_id_5.0,fac_id_6.0,...,district_Ngamiland West,district_Ngwaketse North,district_Palapye,district_Selibe Phikwe,district_Serowe,district_South East,district_Tshabong,district_Tuli,district_Tutume,district_unkown_dis
0,1,False,3.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,True,1.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,True,2.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,4,True,1.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,True,3.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [515]:
# split into train/test set
X_train, X_test, y_train, y_test = train_test_split(training_data.drop(columns = ['Y', 'pat_id']), 
                                                    training_data['Y'],
                                                    random_state=RND, 
                                                    stratify = training_data['Y'])

In [532]:
model = Sequential()
model.add(Dense(392, input_dim=392, activation='relu',kernel_regularizer=L1L2(l1=0.0, l2=0.1)))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=5, validation_data=(X_test, y_test))

Train on 36099 samples, validate on 12034 samples
Epoch 1/5
36099/36099 [==============================] - 20s 542us/step - loss: 1.3894 - accuracy: 0.7252 - val_loss: 0.4981 - val_accuracy: 0.7435
Epoch 2/5
36099/36099 [==============================] - 22s 611us/step - loss: 0.4834 - accuracy: 0.7618 - val_loss: 0.4585 - val_accuracy: 0.7809
Epoch 3/5
36099/36099 [==============================] - 22s 618us/step - loss: 0.4525 - accuracy: 0.8137 - val_loss: 0.4327 - val_accuracy: 0.8465
Epoch 4/5
36099/36099 [==============================] - 20s 555us/step - loss: 0.4321 - accuracy: 0.8405 - val_loss: 0.4203 - val_accuracy: 0.8559
Epoch 5/5
36099/36099 [==============================] - 18s 503us/step - loss: 0.4184 - accuracy: 0.8509 - val_loss: 0.4258 - val_accuracy: 0.8622

In [ ]:
# final model accuracy on test set - 0.8622

In [535]:
eval = model.evaluate(x=X_test, y=y_test)
print('Accuracy on test set: {:.2f}'.format(eval[1]))

12034/12034 [==============================] - 1s 82us/step
Accuracy on test set: 0.86

In [ ]:
# old - using sklearn

In [526]:
logreg = LogisticRegression(max_iter=1000)
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [528]:
y_pred = logreg.predict(X_test)
print('Accuracy on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy on test set: 0.71

In [531]:
from sklearn.metrics import recall_score

recall_score(y_test, y_pred)

0.8243103892755865